apiVersion: v3
server: voltha-api.voltha.svc.cluster.local:55555
kafka: voltha-kafka.voltha.svc.cluster.local:9092
kvstore: voltha-etcd-cluster-client.voltha.svc.cluster.local:2379
tls:
  useTls: false
  caCert: ""
  cert: ""
  key: ""
  verify: ""
grpc:
  timeout: 5m0s
kvstoreconfig:
  timeout: 5s
